<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{location.name}}</h1>
        </div>
    </div>
    <div class="row">
        <img src="{{location.image}}" class="img-responsive">
    </div>
    <div class="row h3">
        <label>Address:</label> {{location.address}}
    </div>
    <div class="row h3">
        <label>Phone no.:</label> {{location.phoneNo}}
    </div>
    <div class="row h3">
        <label>Rating:</label> {{location.rating}}
    </div>
    <div class="row h3">
        <label>Website:</label><a href="{{location.website}}" target="_blank">Click here</a>
    </div>
    <div class="row h3">
        <label>Maps:</label><a href="{{location.maps}}" target="_blank">Click here</a>
    </div>
</div>