<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
</head>
<body>
<div style="width:900px; font-family: Arial;padding-top: 25px;">
   <div>
        <span style="font-family: Arial;
            font-size: 16px;
            color:#1B4774;
            font-weight: bold;
            padding-bottom: 30px;">packNgo Email notification</span>
    </div>
    <div id=" font-size: 14px;
            padding:20px;">
        <br><b>Dear $firstName $lastName,</b>